.homeLog {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  .sideBar {
    width: 18rem;
    padding: 1.7rem 0;
    background-color: #000000;
    height: 100vh;
  }
  .content {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
  }
}
