.searchBoxContainer {
  display: flex;
  background-color: white;
  border-radius: 1000000000000000px;
  padding: 0.1rem 0.3rem;
  margin: 0 1rem;
  width: 20rem;

  form {
    display: flex;
    justify-content: center;
  }

  input {
    padding: 0.2rem 0.3rem;
    outline: none;
    font-size: 1.1rem;
    border: none;
    width: 15rem;
    background-color: transparent;
  }
  #searchLogo {
    cursor: pointer;
    svg {
      height: 80%;
      color: white;
      path {
        stroke: black;
        stroke-width: 20px;
      }
    }
  }
}
