.searchBoxContainer {
  display: flex;
  background-color: white;
  border-radius: 1000000000000000px;
  padding: 0.3rem 0.5rem;
  margin: 0 1rem;
  width: 20rem;
  input {
    padding: 0.2rem 0.6rem;
    outline: none;
    font-size: 1.1rem;
    border: none;
    width: 15rem;
    background-color: transparent;
  }
  #searchLogo {
    svg {
      color: white;
      path {
        stroke: black;
        stroke-width: 20px;
      }
    }
  }
}
