*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: spotify-circular, spotify-circular-cyrillic,
    spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica,
    arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
