nav.notLogged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 10vh;
  padding: 0 8rem;

  #logo {
    cursor: pointer;
    fill: white;

    svg {
      width: 45%;
      height: 100%;
    }
  }

  .navOptions {
    ul {
      display: flex;
    }

    ul > li {
      color: white;
      list-style: none;
      padding: 1rem;
      font-size: 1.3rem;

      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: bold;
        font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
        &:hover {
          color: #1ed760;
        }
      }
    }
  }
}
